In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

data = pd.read_csv("budget_data.csv")
print(data)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [2]:
df = pd.DataFrame(data)

In [3]:
df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [4]:
df.info

<bound method DataFrame.info of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [5]:
data.Date

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [6]:
total_months = str(len(data.Date))
print("Total Months: "+total_months)

Total Months: 86

In [7]:
net_total = df['Profit/Losses'].sum()
print("Total: $"+str(net_total))

Total: $38382578

In [8]:
df["Profit/Losses"].mean()

446309.0465116279

In [9]:
change_row = df["Profit/Losses"].diff()
change_row

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [10]:
cr = pd.DataFrame(change_row, columns=["month","Profit/Losses"])
cr

   month  Profit/Losses
0    NaN            NaN
1    NaN       116771.0
2    NaN      -662642.0
3    NaN      -391430.0
4    NaN       379920.0
..   ...            ...
81   NaN      -665765.0
82   NaN       693229.0
83   NaN      -734926.0
84   NaN        77242.0
85   NaN       532869.0

[86 rows x 2 columns]

In [11]:
average_change = (change_row.mean())
average_change = round(average_change, 2)

In [12]:
print("Average Change: $"+str(average_change))

Average Change: $-2315.12

In [13]:
greatest_decrease = change_row.min()
greatest_decrease

-2196167.0

In [14]:
greatest_increase = change_row.max()
greatest_decrease = (greatest_decrease)
greatest_increase

1926159.0

In [15]:
cr[["Profit/Losses"]].idxmin()

Profit/Losses    44
dtype: int64

In [16]:
cr[["Profit/Losses"]].idxmax()

Profit/Losses    25
dtype: int64

In [17]:
x = df["Date"]
x[44]

'Sep-2013'

In [18]:
x[25]

'Feb-2012'

In [24]:
print("Financial Analysis")
print("______________________________") 
print("")
print("Total Months: "+total_months)
print("")
print("Total: $"+str(net_total))
print("")
print("Average Change: $"+str(average_change))
print("")
print("Greatest Increase in Profits: " +str((x[25]))+ " ($"+str(greatest_increase)+")")
print("")
print("Greatest Decrease in Profits: " +str((x[44]))+ " ($"+str(greatest_decrease)+")")

Financial Analysis
______________________________

Total Months: 86

Total: $38382578

Average Change: $-2315.12

Greatest Increase in Profits: Feb-2012 ($1926159.0)

Greatest Decrease in Profits: Sep-2013 ($-2196167.0)